<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chendd.blog.admin.blog.tag.mapper.TagManageMapper">

    <!-- 用户信息列表查询 -->
    <select id="queryTagManagePage" resultType="cn.chendd.blog.admin.blog.tag.vo.TagManageResult"
            parameterType="cn.chendd.blog.admin.blog.tag.po.TagManageParam">
         SELECT
              a.id , a.tag , a.strong , a.sortOrder ,
              (SELECT count(*) counts FROM blog_tag_article b where b.tagId = a.id) counts
         FROM blog_tag a
         WHERE 1=1
              <if test="param.tag != null and param.tag != ''">
                  and a.tag like concat('%',#{param.tag},'%')
              </if>
              <if test="param.strong != null">
                  and a.strong = #{param.strong}
              </if>
          order by a.sortOrder asc
    </select>

</mapper>