<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dd="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>用户查看</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="欢迎来到陈冬冬的个人经验分享平台" name="description" />
<meta content="88911006@qq.com,雪地里走,陈冬冬" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="../../../statics/favicon.ico">
<link href="../../../statics/assets/css/bootstrap.min.css" data-dd-theme="${session.systemCurrentUser.userConfig.adminTheme}" rel="stylesheet" type="text/css" />
<link href="../../../statics/assets/css/app.min.css" data-dd-theme="${session.systemCurrentUser.userConfig.adminTheme}" rel="stylesheet" type="text/css" />
<link href="../../../statics/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="../../../statics/plugins/helper.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="content-page content-page-admin">
    <div class="content">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户名称：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.username}" class="form-control border-0"></span>
            </div>
        </div>
        <div style="position: absolute;top: 10px;right: 15%;z-index: 1;">
            <img th:src="${userInfo.portrait}" src="../../../statics/images/user.png" style="border-radius: 50%;" />
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户姓名：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.realName}" class="form-control border-0"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户邮箱：</label>
            <div class="col-sm-10">
                <span th:text="${userInfo.email}" class="form-control border-0"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">创建日期：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.createTime}" class="form-control border-0"></span>
            </div>
            <label class="col-sm-2 col-form-label">最后登录：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.lastLoginTime}" class="form-control border-0"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户来源：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.userSource.text}" class="form-control border-0"></span>
            </div>
            <label class="col-sm-2 col-form-label">来源编号：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.userNumber}" class="form-control border-0"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户状态：</label>
            <div class="col-sm-4">
                <span th:text="${userInfo.status.text}" class="form-control border-0"></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>