<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dd="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>历史上的本站（V1.0版本）</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="关于作者" name="description" />
<meta content="88911006@qq.com,雪地里走,陈冬冬" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/statics/favicon.ico" />
<link href="/statics/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/statics/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="/statics/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.bootcdn.net/ajax/libs/simditor/2.3.28/styles/simditor.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.11.2/viewer.min.css" rel="stylesheet" type="text/css">
<link href="/statics/css/helper.css" rel="stylesheet" type="text/css" />
</head>
<body data-layout-mode="horizontal">
<div id="wrapper">
    <th:block th:include="/frame/header :: template">template</th:block>
    <th:block th:include="/frame/nav :: template">template</th:block>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-lg-9">
                        <div class="card-box ribbon-box pt-0 pb-0">
                            <th:block th:utext="${custom.content}"></th:block>
                        </div>

                        <div class="card">
                            <div class="card-body pt-2 pb-2">
                                <th:block th:include="/frame/article/article :: praises">点赞</th:block>
                                <input type="hidden" id="article_id" name="articleId" value="" th:value="${article.id}" />
                                <th:block th:include="/frame/article/article :: comment">评论</th:block>
                            </div>
                        </div>
                    </div>
                    <th:block th:include="/frame/detail-sidebar :: template">统计信息</th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="/frame/footer :: template">template</th:block>
</div>

<th:block th:include="/frame/article/article :: commentPage">评论分页模板</th:block>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/statics/assets/js/vendor.simplify.js"></script>
<script src="/statics/assets/js/app.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/simplebar/5.1.0/simplebar.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/art-template/4.13.2/lib/template-web.js"></script>
<script src="/statics/plugins/simditor/assets/scripts/module.js"></script>
<script src="/statics/plugins/simditor/assets/scripts/hotkeys.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/simditor/2.3.28/lib/simditor.min.js"></script>
<script src="https://ssl.captcha.qq.com/TCaptcha.js" async="async"></script>
<script src="/statics/plugins/helper.min.js"></script>
<script src="/statics/js/common-interactive/interactive.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.11.2/viewer.min.js"></script>
<script src="/statics/js/page/history.js"></script>
</body>
</html>